.landing-container {
    /* border: solid blue; */
    width: 100vw;
    background: darkgray;
    height: 100vh;
}
.landing {
    border: solid orange;
    background: purple;
    position: fixed;
    width: inherit;
    height: inherit;
    background-image: url('../../Images/Landing1.jpg');
    background-attachment: fixed;
    background-position-y: 7em;
    background-size: contain;
    background-repeat: no-repeat;
}

.landing h1{
    text-align: center;
    margin-top: 19.3em; 
    font-family: 'Lora', serif;
    font-weight: 100;
    font-size: 1.7em;
}