.landing{
    /* border: solid gray; */
    height: 100vh;
    background-image: url("../../Images/landing2.jpg");
    background-size: 27rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}